.heading {
  text-align: center;
}
.welcome {
  color: rgb(4, 81, 73);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.footer {
  padding: 0.5em 0;
  font-size: 2em;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(4, 81, 73);
  width: 100%;
}
.pay_btn {
  /* margin: 0 0 0 30em; */
  padding: 0.2em 1.1em;
  border-radius: 0.4em;
  text-decoration: none;
  color: beige;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(4, 81, 73);
}
.pay_btn:hover {
  color: black;
  background: rgb(4, 81, 73);
  transition: 0.5s;
}
.c1 {
  width: 35%;
  border-radius: 8px;
}
.c2 {
  background-image: url(cafeimage/user2.avif);
}
.c3 {
  width: 35%;
  border-radius: 8px;
}
.inner {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  height: 60%;
  align-items: center;
}
.space {
  margin-top: 4rem;
}
.outer {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}
.c4 {
  background-image: url(cafeimage/admin.jpg);
}
.c1,
.c3 {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  background-size: cover;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: end;
  /* align-items: end; */
}

.w3-card-4 {
  margin: 0 auto;
}
img {
  width: 100%;
}
.btn {
  height: 100%;
  width: 35%;
  transition-duration: 300ms;
  transition-property: margin-bottom;
  text-decoration: none;
  position: relative;
}
.btn:hover {
  margin: 0 0 2rem 0;
}
.card span {
  color: rgb(227, 227, 224);
  font-size: 2.5rem;
}
.btn::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
@media (max-width: 1000px) {
  .inner {
    flex-direction: column;
    justify-content: space-around;
  }
  .btn {
    height: 45%;
    width: 90%;
    transition-duration: 300ms;
    transition-property: margin;
    text-decoration: none;
    position: relative;
  }
  .card span {
    font-size: 1rem;
  }
  .btn:hover {
    margin: 0 0 0 2rem;
  }
}
