/* .mti-3{
    background-color:rgb(212, 209, 209) ;
    padding:20px 50px;
    margin-left:300px;
    border-radius:20px; 
    width:700px;
    height: 300px;
} */
.split{
    display: flex;
    flex-direction: row;
    /* margin-inline: auto; */
    width: 100%;
    height: 100vh;
    background-image: url('cafeimage/adminMenu5.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 0 90px;
    color: beige;
    font-size: larger;
    gap: 0px;
}
.availables{
    display: flex;
    flex-direction: row;
    /* margin-inline: auto; */
    padding: 0;
    flex-wrap: nowrap;
}
.category{
    margin: 0 3rem;
    
}
label{
    display: inline-block;
    width: 8em;

}

.category li{
    font-size: larger;
}
.add{
    margin-top: 15rem;
    font-size: larger;
}
li{
    list-style-type: none;
}
@media (max-width:800px){
    .split{
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        height: auto;
        justify-content: space-around;
        gap: 1rem;
    }
    .split> label, input, li{
        font-size: 1rem;
    }
    .category{
        border: solid white;
        width: 90%;
    }
    .availables{
        padding: 0;
    }
}
